In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

# Question 1

In [2]:
df = pd.read_csv('http://bit.ly/2Cxfbe4')

In [3]:
df = df.dropna()
df

,Unnamed: 0,cylinder_size,plating_tank,viscosity,caliper,ink_temperature,humifity,roughness,press_speed,wax,hardener,current_density,anode_space_ratio,chrome_content,band_type
0,0,TABLOID,1911.0,46.0,0.2,17.0,78.0,0.7500,1700.0,2.5,1.0,40.0,105.000,100.0,band
3,3,CATALOG,1910.0,40.0,0.3,16.0,75.0,0.3125,1467.0,2.5,1.3,40.0,108.060,100.0,noband
4,4,TABLOID,1910.0,46.0,0.3,17.0,80.0,0.7500,2100.0,2.3,0.6,40.0,106.670,100.0,noband
5,5,CATALOG,1910.0,40.0,0.267,16.8,76.0,0.4375,1467.0,2.5,0.8,40.0,103.870,100.0,noband
6,6,TABLOID,1911.0,46.0,0.3,16.5,75.0,0.7500,2600.0,2.5,0.6,40.0,106.670,100.0,noband
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,527,catalog,1911.0,50.0,0.200,16.5,74.0,0.6250,1750.0,2.6,1.0,40.0,103.125,95.0,band
528,528,catalog,1911.0,56.0,0.200,17.0,75.0,0.7500,1600.0,2.0,1.0,40.0,103.125,95.0,band
529,529,catalog,1910.0,55.0,0.200,17.0,95.0,0.6250,1600.0,2.5,1.0,40.0,106.250,100.0,band
539,539,tabloid,1910.0,46.0,0.267,16.4,76.0,1.0000,1903.0,1.5,2.3,40.0,108.000,100.0,band
540,540,tabloid,1910.0,46.0,0.200,14.2,75.0,0.7500,2050.0,2.5,1.0,40.0,108.100,100.0,band

In [4]:
df2 = df['band_type']
df2 = pd.get_dummies(df2)
df['band_type']=df2['band']
df

,Unnamed: 0,cylinder_size,plating_tank,viscosity,caliper,ink_temperature,humifity,roughness,press_speed,wax,hardener,current_density,anode_space_ratio,chrome_content,band_type
0,0,TABLOID,1911.0,46.0,0.2,17.0,78.0,0.7500,1700.0,2.5,1.0,40.0,105.000,100.0,1
3,3,CATALOG,1910.0,40.0,0.3,16.0,75.0,0.3125,1467.0,2.5,1.3,40.0,108.060,100.0,0
4,4,TABLOID,1910.0,46.0,0.3,17.0,80.0,0.7500,2100.0,2.3,0.6,40.0,106.670,100.0,0
5,5,CATALOG,1910.0,40.0,0.267,16.8,76.0,0.4375,1467.0,2.5,0.8,40.0,103.870,100.0,0
6,6,TABLOID,1911.0,46.0,0.3,16.5,75.0,0.7500,2600.0,2.5,0.6,40.0,106.670,100.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,527,catalog,1911.0,50.0,0.200,16.5,74.0,0.6250,1750.0,2.6,1.0,40.0,103.125,95.0,1
528,528,catalog,1911.0,56.0,0.200,17.0,75.0,0.7500,1600.0,2.0,1.0,40.0,103.125,95.0,1
529,529,catalog,1910.0,55.0,0.200,17.0,95.0,0.6250,1600.0,2.5,1.0,40.0,106.250,100.0,1
539,539,tabloid,1910.0,46.0,0.267,16.4,76.0,1.0000,1903.0,1.5,2.3,40.0,108.000,100.0,1
540,540,tabloid,1910.0,46.0,0.200,14.2,75.0,0.7500,2050.0,2.5,1.0,40.0,108.100,100.0,1

In [5]:
df = df.drop(columns='cylinder_size')
df = df.drop(columns='Unnamed: 0')

In [6]:
df #Finally!

,plating_tank,viscosity,caliper,ink_temperature,humifity,roughness,press_speed,wax,hardener,current_density,anode_space_ratio,chrome_content,band_type
0,1911.0,46.0,0.2,17.0,78.0,0.7500,1700.0,2.5,1.0,40.0,105.000,100.0,1
3,1910.0,40.0,0.3,16.0,75.0,0.3125,1467.0,2.5,1.3,40.0,108.060,100.0,0
4,1910.0,46.0,0.3,17.0,80.0,0.7500,2100.0,2.3,0.6,40.0,106.670,100.0,0
5,1910.0,40.0,0.267,16.8,76.0,0.4375,1467.0,2.5,0.8,40.0,103.870,100.0,0
6,1911.0,46.0,0.3,16.5,75.0,0.7500,2600.0,2.5,0.6,40.0,106.670,100.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,1911.0,50.0,0.200,16.5,74.0,0.6250,1750.0,2.6,1.0,40.0,103.125,95.0,1
528,1911.0,56.0,0.200,17.0,75.0,0.7500,1600.0,2.0,1.0,40.0,103.125,95.0,1
529,1910.0,55.0,0.200,17.0,95.0,0.6250,1600.0,2.5,1.0,40.0,106.250,100.0,1
539,1910.0,46.0,0.267,16.4,76.0,1.0000,1903.0,1.5,2.3,40.0,108.000,100.0,1
540,1910.0,46.0,0.200,14.2,75.0,0.7500,2050.0,2.5,1.0,40.0,108.100,100.0,1

In [7]:
df[df.columns[-1]]

0      1
3      0
4      0
5      0
6      0
      ..
527    1
528    1
529    1
539    1
540    1
Name: band_type, Length: 454, dtype: uint8

In [8]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVC

In [9]:
X = df[df.columns[:-1]]
y = df[df.columns[-1]].T

# Create the RFE object and rank each pixel
svc = SVC(kernel="linear", C=1)
rfe = RFE(estimator=svc, n_features_to_select=1, step=1)
rfe.fit(X, y)

RFE(estimator=SVC(C=1, break_ties=False, cache_size=200, class_weight=None,
                  coef0=0.0, decision_function_shape='ovr', degree=3,
                  gamma='scale', kernel='linear', max_iter=-1,
                  probability=False, random_state=None, shrinking=True,
                  tol=0.001, verbose=False),
    n_features_to_select=1, step=1, verbose=0)

## Ranking

In [12]:
rfe.ranking_

array([ 3,  9,  7, 12,  8,  2, 11,  6,  4,  5, 10,  1])

In [14]:
top_RFE = rfe.ranking_[:5]

In [18]:
ind = list(top_RFE)

### These are your top features using RFE-SVM:

In [23]:
for i in ind:
    print (f'{df.columns[i]} \n')

ink_temperature

current_density

wax

band_type

hardener

###  Now for KNN

In [26]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [29]:
KNN=knn.fit(X, y)

### From here you run predict and assess summary scores

### Repeat Fit, Predict, and summary paradigm for PCA noting top features after dimension analysis

http://archive.ics.uci.edu/ml/datasets/Adult